body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100%
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



@layer base {
  :root {
    --background: 0, 11%, 14%;
    --foreground: 0, 3%, 76%;
    --card: 0, 13%, 15%;
    --card-foreground: 0, 3%, 76%;
    --popover: 0, 12%, 20%;
    --popover-foreground: 0, 20%, 98%;
    --primary: 0, 80%, 52%;
    --primary-foreground: 0, 100%, 82%;
    --secondary: 0, 11%, 19%;
    --secondary-foreground: 0, 20%, 98%;
    --muted: 0, 11%, 19%;
    --muted-foreground: 0, 3%, 58%;
    --accent: 235 10% 25%;
    --accent-foreground: 0, 20%, 98%;
    --destructive: 208, 65%, 48%;
    --destructive-foreground: 0, 20%, 98%;
    --border: 0, 11%, 22%;
    --input: 0, 12%, 20%;
    --ring: 0, 80%, 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}